.add-contact{
    color: white;
    background-color: #596c92;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

.nameLabel{
    color: white;
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
    margin: 2px;
    padding: 5px;
}

.emailLabel{
    color: white;
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
    margin: 2px;
    padding: 5px;
}

.add-contact-form{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    font-family: 'poppins', sans-serif;
    background-color: #282c34;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-contact-form input{
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
    border-radius: 5px;
    border: 1px solid #596c92;
}

.btn{
    display: flex;
    color: white;
    background-color: #596c92;
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    font-family: 'poppins', sans-serif;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}