.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 10px;
    background-color: rgb(12, 50, 63);
}

.header{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'poppins', sans-serif;
}

.inputBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 5px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn{
    background-color: rgb(12, 50, 63);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.list-heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: 'poppins', sans-serif;
    margin-top: 20px;
}

.list-item{
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: rgb(12, 50, 63);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

.itemList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    padding: 5px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.removeBtn{
    background-color: rgb(12, 50, 63);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.AllBtn{
    background-color: rgb(12, 50, 63);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}